<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignored_users</key>
	<array>
		<string>super.sekrit.admin</string>
	</array>
	<key>network_timeout</key>
	<integer>180</integer>
	<key>wait_for_network</key>
	<true/>
</dict>
</plist>
